<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
  <title>{{title}} - UEA ATTENDANCE AND LECTURE FEEDBACK</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar-custom {
      background-color: black;
    }

    .jumbotron {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/uea_background.jpg);
      background-size: cover;

      height: 100%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg py-3 navbar-dark navbar-custom">
    <div class="container d-flex justify-content-between">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            {% if 'loggedInStaff' in session %}
          <li><a class="nav-link" href="/">Dashboard</a></li>
          <li><a class="nav-link" href="/newlecture">New Lecture</a></li>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <li><a class="nav-link" href="/staffupdatedetails">Update Details</a></li>
          <li><a class="nav-link" href="/logout">Logout</a></li>
          </li>
        </ul>
      </div>
      {% elif 'loggedInStudent' in session %}
      <li><a class="nav-link" href="/">Dashboard</a></li>
      </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <li><a class="nav-link" href="/studentupdatedetails">Update Details</a></li>
        <li><a class="nav-link" href="/logout">Logout</a></li>
        </li>
      </ul>
    </div>
    {% elif 'loggedInAdmin' in session%}
    <li><a class="nav-link" href="/">Dashboard</a></li>
    <li><a class="nav-link" href="/login">Manage Accounts</a></li>
    </li>
    </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <li><a class="nav-link" href="/staffupdatedetails">Update Details</a></li>
        <li><a class="nav-link" href="/logout">Logout</a></li>
        </li>
      </ul>
    </div>
    {% elif 'loggedIn' in session%}
    <li><a class="nav-link" href="/">Dashboard</a></li>
    </li>
    </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <li><a class="nav-link" href="/logout">Logout</a></li>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <li><a class="nav-link" href="/">Homepage</a></li>
        <li><a class="nav-link" href="/lecturefeedback">Lecture Feedback</a></li>
        </li>
      </ul>
    </div>
    {% endif %}
  </nav>
  <div class="container">
    {% include 'includes/messages.html' %}
  </div>
  {% block content %}
  {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
