{% extends "base.html" %}
{% block content %}
<h2>Update Lecture</h2>
<form action="" method="POST">
  <div style = font-size:20px; font-weight:bold; margin-left:150px;>
            {{form.session_name.label}} {{form.session_name}}
            <br>
            {{form.sessiondate.label}} {{form.sessiondate}}
            <br>
            {{form.sessiontime.label}} {{form.sessiontime}}
            <br>
            {{form.sessiontype.label}} {{form.sessiontype}}
            <br>
            {{form.sessioncode.label}} {{form.sessioncode(readonly=true)}}
            <br>
            {{form.submit}}
         </div>
</form>

{% if error %}
<p class="error"> <strong>Error:</strong>  {{ error }} </p>
{% endif %}

{% endblock %}
