{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">UEA Attendance & Lecture Feedback</h1>
  <p class="lead">Welcome to the University of East Anglia's Attendance & Feedback tracking system.Use the buttons below to continue on</p>
  <p class="lead">
    <div class="text-center">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
  </div>
  </p>
</div>s
{% endblock %}
