{% extends "base.html" %}
{% block content %}
<h2>Create new lecture</h2>
<form action="/createlecture" method="POST">
  <div style = font-size:20px; font-weight:bold; margin-left:150px;>
            {{form.lecturename.label}} {{form.lecturename}}
            <br>
            {{form.lecturedate.label}} {{form.lecturedate}}
            <br>
            {{form.lecturetime.label}} {{form.lecturetime}}
            <br>
            {{form.lecturecode.label}} {{form.lecturecode(readonly=true)}}
            <br>
            {{form.submit}}
         </div>
</form>

{% if error %}
<p class="error"> <strong>Error:</strong>  {{ error }} </p>
{% endif %}

{% endblock %}
