{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-body">
<h2>Register new account</h2>
<p>Use the form below to create an account</p>
<form action="/registeruser" method="POST">
    <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              {{form.username.label}} {{form.username}}
              <br>
              {{form.password.label}} {{form.password}}
              <br>
              {{form.confirmpassword.label}} {{form.confirmpassword}}
              <br>
              {{form.submit}}
           </div>
  </form>
  {% if error %}
<p class="error"> <strong>Error:</strong>  {{ error }} </p>
{% endif %}
</form>
  </div>
</div>
{% endblock %}
