{% extends "base.html" %}
{% block content %}
<div class="alert alert-info" role="alert">
  Please ensure that personal details have been updated before using this system
</div>

<div class="card">
  <div class="card-body">


<h4>Dashboard for {{session.username}}</h4>
<p>Below is a list of all your attendance records </p>

<table class="table table-sm">
    <tr>
      <th>Lecture Name</th>
      <th>Lecture Date</th>
      <th>Lecture Time</th>
      <th>Lecture Mark</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for lectures in data %}
      <tr>
        <td>{{lectures[1]}}</td>
        <td>{{lectures[2]}}</td>
        <td>{{lectures[3]}}</td>
        <td>{{lectures[5]}}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
  </div>
{% endblock %}
