{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<form action="/staffdetailspush" method="POST">
    <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              {{form.forename.label}} {{form.forename}}
              <br>
              {{form.surname.label}} {{form.surname}}
              <br>
              {{form.email.label}} {{form.email}}
              <br>
              {{form.faculty.label}} {{form.faculty}}
              <br>
              {{form.submit}}
           </div>
  </form>
  {% if error %}
<p class="error"> <strong>Error:</strong>  {{ error }} </p>
{% endif %}
</form>
{% endblock %}
